html,
body {
  width: 100%;
  height: 100%;
  font-family: Overlook, "Helvetica Neue", Arial, sans-serif; }

a {
  color: rgba(50, 127, 166, 0.9); }

.header,
.main,
.footer {
  width: 100%;
  max-width: 62.5em;
  margin: 0 auto; }

.row {
  position: relative;
  width: 100%;
  min-height: 1.89394em; }

.row:before, .row:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both; }

.img_container img {
  max-width: 100%;
  width: 100%; }

.inline-list {
  margin: 0 auto 0 auto;
  margin-left: 1.89394em;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden; }
  .inline-list > li {
    list-style: none;
    float: left;
    margin-left: 1.89394em;
    display: block; }
    .inline-list > li > * {
      display: block; }

.logo {
  display: block;
  margin: 0 auto 1.89394em;
  clear: both; }

.logo-nav {
  display: none;
  float: left; }

.main_menu {
  margin: 0 auto 0 auto;
  margin-left: 1.89394em;
  margin-right: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  max-width: 37.8788em;
  float: right;
  margin-bottom: 1.89394em; }
  .main_menu > li {
    list-style: none;
    float: left;
    margin-left: 1.89394em;
    display: block; }
    .main_menu > li > * {
      display: block; }
  .main_menu li {
    padding: 0.94697em 0; }
    .main_menu li a {
      font-weight: 500;
      text-transform: uppercase;
      font-size: 0.94697em;
      text-decoration: none;
      -webkit-transition: color 300ms ease;
      transition: color 300ms ease; }
      .main_menu li a:hover, .main_menu li a:focus {
        color: #e1e8ec; }

.box {
  float: left;
  min-width: 1.89394em;
  margin-left: 1.89394em;
  margin-bottom: 1.89394em;
  content: " "; }
  .box img {
    max-width: 100%; }

.box-big-sq {
  width: 28.4091em;
  height: 28.4091em;
  background: rgba(210, 210, 210, 0.3); }

.box-long-sq {
  width: 28.4091em;
  height: 13.25758em;
  background: rgba(210, 210, 210, 0.3); }

.box-xl-long-sq {
  width: 43.56062em;
  height: 13.25758em;
  background: rgba(210, 210, 210, 0.3);
  margin-top: -15.15152em; }

.box-small-sq {
  width: 13.25758em;
  height: 13.25758em;
  background: rgba(210, 210, 210, 0.3); }

.box-thin-sq {
  width: 13.25758em;
  height: 28.4091em;
  background: rgba(210, 210, 210, 0.3); }

.carousel-central-box {
  width: 28.4091em;
  height: 18.9394em;
  margin-left: 0;
  background: rgba(210, 210, 210, 0.3); }

.carousel-lateral-box {
  width: 17.04546em;
  height: 18.9394em;
  margin-left: 0;
  background: rgba(210, 210, 210, 0.3); }

img + p {
  margin-top: 1.89394em; }

p {
  padding: 0 1.89394em 1.89394em 1.89394em; }

p[class*="box"]:first-child {
  margin-left: 0; }

.calendar {
  display: none;
  position: absolute;
  width: 18.9394em;
  right: 0;
  top: 2.84091em;
  background: rgba(210, 210, 210, 0.9);
  z-index: 99; }

.active .calendar {
  display: block; }

.relative-container {
  position: relative; }

.btn {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 1.89394em 1.89394em;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.94697em; }

.btn-booking {
  float: right;
  margin-left: 1.89394em;
  color: rgba(50, 127, 166, 0.9);
  border-color: rgba(161, 207, 230, 0.9);
  background: transparent;
  -webkit-transition: background 200ms ease, color 300ms ease, border-color 300ms ease;
  transition: background 200ms ease, color 300ms ease, border-color 300ms ease; }
  .btn-booking:hover, .btn-booking:focus {
    color: #e1e8ec;
    border-color: #3d9ccc;
    background: #3d9ccc;
    outline: none; }

.slider {
  display: none; }
  .slider:first-child {
    display: block; }
