#datepicker{
  display: none;
}
.active #datepicker{
  display: block;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 2.85em;
  .ui-datepicker{
    width: 250px;
    table{
      font-size: 0.8em;
    }
    .ui-widget-header{
      font-size: 0.8em;
    }
  }
}