#navigation{
  margin: 0 $base-unit $base-unit;
  img{
    width: $base-unit;
  }
  .next{
      float: right;
    }
}

.carousel-container {
  width: $row / 3.5;
  height: $base-unit * 7;
  position: relative;
  margin: ($base-unit * 1.5) auto $base-unit;
  perspective: $row;
  #carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    figure {
      display: block;
      position: absolute;
      width: ($row / 3.5) - $base-unit - ($base-unit / 10);
      height: $base-unit * 6 - ($base-unit / 10);
      left: $base-unit / 2;
      top: $base-unit / 2;
      border: ($base-unit / 20) solid $link-secondary-color;
      backface-visibility: hidden;
      $degree : 0;
      @for $i from 1 through 9 {
        &:nth-child(#{$i}) {
          transform: rotateY(  #{$degree}deg ) translateZ( ($row / 7) / 0.3639 );
        }
        $degree: $degree + 40;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}