#datepicker{
  display: none;
}
.modal{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(40, 54, 56, 0.3);
  border: none;
  z-index: 5000;
  .booking_container{
    width: $base-unit * 23;
    height: $base-unit * 13;
    background: #fff;
    margin: $base-unit * 4 auto;
    padding: $base-unit;
    h2{
      float: $default-float;
      display: inline-block;
      font-size: $base-unit;
      color: $text-color;
      margin-bottom: $base-unit / 2;
      small{
        font-size: $base-unit / 3;
        color: $text-color;
      }
    }
    .close{
      float: $opposite-direction;
      text-decoration: none;
    }
    .booking-form{
      @extend form;
      float: $default-float;
      width: $base-unit * 8;
      clear: $default-float;
      position: relative;
      overflow: visible;
      label{
        display: block;
        width: $base-unit * 6;
        margin-bottom: $base-unit / 3;
        clear: $opposite-direction;
      }
      input[type^="text"]{
        width: $base-unit * 6;
        float: $default-float;
        clear: $opposite-direction;
        margin-#{$default-float}: 0;
        margin-bottom: $base-unit / 2;
        padding: $base-unit / 2 $base-unit / 3;
      }
      select{
        -webkit-appearance: none !important;
        -webkit-border-radius: 0px;
        background-color: #fafafa;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
        background-position: 100% center;
        background-repeat: no-repeat;
        border-style: solid;
        border-width: 1px;
        border-color: #cccccc;
        padding: $base-unit / 2 $base-unit / 3;
        width: $base-unit * 6;
        margin-bottom: $base-unit / 2;
      }
    }
    p{
      float: $default-float;
      width: $base-unit * 16;
      font-size: 12px;
    }
    .btn-next{
      margin-top: 6em;
    }
    .btn-link{
      margin-top: 7.15em;
    }
  }
}
.active{
  display: block;
  div[id*="datepicker"]{
    display: block;
    position: absolute;
    top: 1.59em;
    left: $base-unit * 4.5;
    .ui-datepicker {
      width: 250px;
      height: auto;
      border-radius: 0;
      color: $text-color;
      line-height: 24px;
      a {
        text-decoration: none;
      }
      table {
        width: 100%;
        thead{
          border: none;
          font-size: 11px;
        }
        tbody{
          tr{
            border: none;
            &:last-child{
              margin-bottom: 0;
            }
          }
          td{
            border: none;
            a,
            span{
              line-height: 24px;
              text-align: center;
              padding: 0;
            }
            &:last-child{
              margin-right: 0;
            }
          }
        }
      }
      .ui-datepicker-header {
        background: transparent;
        color: #000;
        font-size: 14px;
        font-weight: 100;
        border: none;
      }
      .ui-datepicker-title {
        text-align: center;
      }
      .ui-datepicker-prev,
      .ui-datepicker-next {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        overflow: hidden;
        &:hover{
          background: transparent;
          border: none;
        }
      }
      .ui-datepicker-prev {
        float: left;
        background-position: center -30px;
      }
      .ui-datepicker-next {
        float: right;
        background-position: center 0px;
      }
    }
    .ui-datepicker-calendar{
      td{
        width: 29px;
        &:first-child{
          .ui-state-active {
            margin-left: 0;
          }
        }
        &:first-child{
          .ui-state-active {
            width: 29px;
            margin-right: 0;
          }
        }
      }
      tr{
        &:last-child{
          .ui-state-active {
            width: 29px;
            margin-bottom: 0;
          }
        }
      }
      .ui-state-default{
        background: transparent;
      }
      .ui-state-hover,
      .ui-state-focus{
        background: #f7f7f7;
        .ui-icon{
          background-image: none;
        }
      }
      .ui-state-active{
        background: $primary-color;
        color: #e0e0e0;
      }
    }
    .ui-datepicker-unselectable{
      .ui-state-default {
        background: #f4f4f4;
        color: #b4b3b3;
      }
    }
    .ui-widget-content{
      .ui-state-highlight{
        border: none;
      }
    }
  }
}
.modal-enabled{
  position: relative;
  overflow: hidden;
}