// Import variables
@import "_variables";

.logo{
  display: block;
  margin: $base-unit/2 auto ;
  clear: both;
}
.main_menu,{
  @include inline-list();
  margin: 0 auto;
  display: table;
  li{
    padding: $base-unit / 2 0;
    a{
      font-weight: 500;
      text-transform: uppercase;
      font-size: $base-unit / 2;
      text-decoration: none;
      -webkit-transition: color 300ms ease;
      -moz-transition: color 300ms ease;
      -o-transition: color 300ms ease;
      transition: color 300ms ease;
      &:hover,
      &:focus{
        color: $link-secondary-color
      }
    }
    &:first-child{
      margin-left: 0;
    }
  }
}

.box{
  float: $default-float;
  min-width: $base-unit;
  margin-left: $base-unit;
  margin-bottom: $base-unit;
  content: " ";
  max-width: 100%;
  img{
    max-width: 100%;
    -webkit-transition: opacity 300ms ease;
    -moz-transition: opacity 300ms ease;
    -o-transition: opacity 300ms ease;
    transition: opacity 300ms ease;
    &:hover{
      opacity: 0.6;
    }
  }
}
.box-big-sq{
  width: $base-unit * 15;
}
.box-long-sq{
  width: $base-unit * 15;
}
.box-xl-long-sq{
  width: $base-unit * 23;
}
.box-small-sq{
  width: $base-unit * 7;
}
.box-thin-sq{
  width: $base-unit * 7;
  margin-top: -$base-unit * 8;
}
.img_container + p{
  margin-top: $base-unit;
}
p{
  padding: 0 $base-unit 1em $base-unit;
  line-height: 0.75 * $base-unit;
  color: $text-color;
  &:last-child{
    margin-bottom: $base-unit/ 2;
  }
}

p[class*="box"]:first-child{
  margin-#{$default-float}: 0;
}
.relative-container{
  position: relative;
}
.fade{
  opacity: 0.6;
}
#map-canvas{
  width: 100%;
  height: $base-unit * 12;
  margin-bottom: $base-unit;
}