// Import variables
@import "_variables";

.logo{
  display: block;
  margin: $base-unit/2 auto ;
  clear: both;
}
.logo-nav{
  display: block;
  visibility: hidden;
  float: $default-float;
  margin-left: $base-unit;
  height: $base-unit * 1.5;
  width: 150px;
  background-image: url(../img/logo.png);
  background-size: cover;
}
.main_menu,{
  @include inline-list();
  margin: 0 auto;
  display: table;
  li{
    padding: $base-unit / 2 0;
    a{
      font-weight: 500;
      text-transform: uppercase;
      font-size: $base-unit / 2;
      text-decoration: none;
      -webkit-transition: color 300ms ease;
      transition: color 300ms ease;
      &:hover,
      &:focus{
        color: $link-secondary-color
      }
    }
    &:first-child{
      margin-left: 0;
    }
  }
}

.box{
  float: $default-float;
  min-width: $base-unit;
  margin-left: $base-unit;
  margin-bottom: $base-unit;
  content: " ";
  max-width: 100%;//
  img{
    max-width: 100%;
  }
}
.box-big-sq{
  width: $base-unit * 15;
  //height: $base-unit * 15;
}
.box-long-sq{
  width: $base-unit * 15;
  //height: $base-unit * 7;
}
.box-xl-long-sq{
  width: $base-unit * 23;
  //height: $base-unit * 7;
}
.box-small-sq{
  width: $base-unit * 7;
  //height: $base-unit * 7;
}
.box-thin-sq{
  width: $base-unit * 7;
  //height: $base-unit * 15;
  margin-top: -$base-unit * 8;
}
.img_container + p{
  margin-top: $base-unit;
}
p{
  padding: 0 $base-unit 1em $base-unit;
  line-height: 0.75 * $base-unit;
  color: $text-color;
  &:last-child{
    margin-bottom: $base-unit/ 2;
  }
}

p[class*="box"]:first-child{
  margin-#{$default-float}: 0;
}
.relative-container{
  position: relative;
}
#map-canvas{
  width: 100%;
  height: $base-unit * 12;
  margin-bottom: $base-unit;
}
/*.social{
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  width: $base-unit * 2.5;
  height: $base-unit * 2.5;
  .fb{
    background-position: xpos 0;
  }
  .tw{
    background-position: xpos 0;
  }
  .in{
    background-position: xpos 0;
  }
}*/
