// Import variables
@import "_variables";

.mask{
  overflow: hidden;
  max-width: 100%;
  height: $base-unit * 17;
  ul {
    position: relative;
    li{
      width: $row;
      height: $base-unit * 17;
      position: absolute;
      left: -$row;
      list-style: none;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.mask li.first-anim {
	-webkit-animation: cycle 20s linear infinite;
}
.mask li.second-anim {
	-webkit-animation: cycletwo 20s linear infinite;
}
.mask li.third-anim {
	-webkit-animation: cyclethree 20s linear infinite;
}

@-webkit-keyframes cycle {
   0%  { left: 0px; }
   25% { left: 0px; opacity:1; z-index:0; }
   35% { left: $row; opacity: 0; z-index: 0; }
   50% { left: $row; opacity: 0; z-index: -1; }
   80% { left: -($row); opacity: 0; }
   90% { left: -($row); opacity: 0; z-index: 0; }
   100% { left: 0px; opacity: 1; }
}

@-webkit-keyframes cycletwo {
   0%  { left: -($row); opacity: 0; }
   25% { left: -($row); opacity: 0; z-index: 0; }
   35% { left: 0px; opacity: 1; }
   60% { left: 0px; opacity: 1; z-index: 0; }
   70% { left: $row; opacity: 0; z-index: 0; }
   90% { left: $row; opacity: 0; z-index: -1; }
   100%{ left: -($row); opacity: 0; }
}

@-webkit-keyframes cyclethree {
   0%  { left: $row; opacity: 0; z-index: -1; }
   10% { left: -($row); opacity: 0; z-index: -1; }
   60% { left: -($row); opacity: 0; z-index: 0; }
   70% { left: 0px; opacity: 1; }
   90% { left: 0px; opacity: 1; }
   100%{ left: $row; opacity: 0; }
}
.margined-top{
  margin-top: $base-unit * 1.5;
}

